* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
  background: #0c0907;
  font-family: Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 20rem;
  margin: 0;
}

body,
h1,
h2,
p {
  margin: 0;
}
